# ===== LLM =====
DEEPSEEK_API_KEY=your_deepseek_api_key_here
DEEPSEEK_BASE_URL=https://api.deepseek.com/v1

# ===== 数据库 =====
DB_URL=
DB_DSN=

# ===== 向量检索 =====
QIANWEN_ENBEDDING_URL=https://ws-xxxxxxxxxxxx.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
QIANWEN_ENBEDDING_KEY=your_qianwen_api_key_here